@import "../../styles/utilities/variables";

.artists {
    margin-top: 9rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    padding: 60px 40px;
}

.artist {
    // .artistImg {
    //     max-width: 329px;
    //     width: 100%;
    // }

    h3 {
        font-size: 1.25rem;
        margin-bottom: 2rem;

        span {
            font-size: 1.5rem;
        }
    }
}

.connect {
    a {
        font-size: 1.5rem;
        background: $primary-text;
        border-radius: 5px;
        padding: 0.2rem 0.4rem;
        border: 1px solid $primary-text;
        color: $primary-color;

        &:hover {
            background: $primary-color;
            color: $primary-text;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .artists {
        padding: 0;
    }
}

@media (max-width: $breakpoint-sm) {
    .artists {
        padding: 2rem;
    }
}