@import "../../styles/utilities/variables";

.artists {
    margin-top: 9rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    padding: 60px 40px;
}

.artist {

    h3 {
        font-size: 1.25rem;
        text-transform: uppercase;
        span {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .artists {
        padding: 0;
    }
}

@media (max-width: $breakpoint-sm) {
    .artists {
        padding: 1rem;
    }
}