.about {
    margin-top: 7.5rem;
}

.aboutImage {
    position: relative;
    text-align: center;
    background-image: url('../../../public/images/about-bg.jpg');
    background-size: cover;
    background-position: 100% center;
    margin-left: -1rem;

    div {
        position: absolute;
        bottom: 0;
        height: 35%;
        width: 100%;
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9));
    }
}