.about {
    margin-top: 7.5rem;
}

.aboutImage {
    position: relative;

    div {
        position: absolute;
        bottom: 0;
        height: 35%;
        width: 100%;
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9));
    }
}